/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-calendar {
    user-select: none;
    border-radius: 1rem !important;
    height: 100% !important;
}

.el-empty {
    padding:0 !important;
}
